.wrap{
    background-color: #f2f4f7;
    font-family: 'Nanum Gothic', sans-serif;
}

.font_C_white{
    color: white;
}

.footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #868686;
}

.profileImg{
    width: 20rem; 
    float:none; 
    margin:0 auto;
}

/*header*/
.header{
    background-color: #343a40!important;
    font-family: 'Roboto', sans-serif;
}

.header_signin{
    float: left;
}